@font-face {
    font-family: 'DM Serif Display', serif;
    src:url(../font/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    src:url(../font/PublicSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    src:url(../font/PublicSans-Regular.ttf);
    font-weight: 400;
}