.building{
    display: flex;
    height: 90vh;
    padding-top: 80px;
    padding-bottom: 80px;
    &__block{
        width: 50%;
        &__title{
            font-family: DM Serif Display;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.553846px;
            color: #36536B;
        }

        

        &__form{
            position:relative;
            &__input{
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                width: 60%;
                height: 41px;
                padding: 10px 15px;
                border: none;
            }

            &__button{
                position: absolute;
                top:2px;
                left:50%;
                text-decoration: none;
                background: #BA4270;
                border:none;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.115385px;
                color: #FBFCFE;
                padding: 10px 15px;
                &:hover{
                    color:#e6e8ec;
                    background: #BA4270;
                }
                &:active{
                    background: #DA6D97;
                    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                    color:#FBFCFE;
                }
            }
        }

        &__desc{
            font-family: Public Sans;
            font-size: 15px;
            line-height: 18px;
            color: #6C8294;
            padding-bottom: 30px;

        }
    }

    &::after{
        content: "";
        position:absolute;
        width: 50%;
        height: 80vh;
        background: url(../img/bitmap.png)no-repeat;
        background-size: contain;
        background-position: top 0 right 0;
        top:0;
        right:0;
        z-index: 100;
    }

    &::before{
        content: "";
        position:absolute;
        width: 50%;
        height: 80vh;
        background: url(../img/telll.png)no-repeat;
        background-size: contain;
        background-position: top 0 right 0;
        bottom:-25px;
        right: 200px;
        z-index: 100;
    }

}

@media only screen and (max-width: 930px){
    .building{
        width: 100%;
        display: flex;
        margin-top: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__block{
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title{
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                letter-spacing: -0.369231px;
            }

            &__form{
                &__input{
                    width: 350px;
                }
                &__button{
                    position: absolute;
                    top:1px;
                    left:70%;
                }
            }
    
            
        }
        &::after{
            content: "";
            position:absolute;
            width: 100%;
            height: 300px;
            background: url(../img/bitmap-tablet.png)no-repeat;
            background-size: 100% 100%;
            background-position: top 0 right 0;
            z-index: 99;
        }
    
        &::before{
            content: "";
            position:absolute;
            width: 100%;
            height: 400px;
            background: url(../img/telll.png)no-repeat;
            background-size:contain;
            background-position: left 0 right 0;
            top: 150px;
            left:35%;
            z-index: 100;
        }
    
    }
}

@media only screen and (max-width: 520px){
    .building{
        width: 100%;
        &__block{
            width:100%;
            &__title{
                font-family: DM Serif Display;  
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                letter-spacing: -0.246154px;
                color: #36536B;

            }

            &__form{
                &__input{
                    width: 450px;
                }
                &__button{
                    position: absolute;
                    top: 70px;
                    left:0;
                    width: 450px;
                    
                }
            }

            &__desc{
                padding-top: 70px;
            }
        }
        &::after{
            content: "";
            position:absolute;
            width: 100%;
            height: 300px;
            background: url(../img/mobile-img.png)no-repeat;
            background-size: cover;
            background-position: top 0 right 0;
            z-index: 99;
        }
        &::before{
            content: "";
            position:absolute;
            width: 100%;
            height: 400px;
            background: url(../img/telll.png)no-repeat;
            background-size:contain;
            background-position: left 0 right 0;
            top: 150px;
            left:100px;
            z-index: 1;
        }
    }
}