.footer{
    background-color: #1B262F;
    .block{
        display: flex;
        position: relative;
        align-items: center;
        padding: 10px 0;
        &__nav{
            display: flex;
            list-style: none;
            &__item{
                &__link{
                    padding: 0 15px;
                    text-decoration: none;
                    font-family: Public Sans;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FBFCFE;
                    opacity: 0.7;
                    &:hover{
                        color: #d8d2d2;
                    }
                    &:active{
                        color:#FFFFFF;
                        box-shadow: 0px 1px 2px #000000;
                    }
                }
            }
        }
        &__logo{
            img{
                display:flex;
            }
        }
        .follow{
            margin-left: auto;
            margin-right: 20px;
            &__link{
                text-decoration: none;
                &__img{
                    padding: 0 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px){
    .footer{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__block{
            width:100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            &__nav{
                flex-direction: column;
            }
        }
    }
}