header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EDF3F8;
    position: sticky;
    // @include displayFlexSetter(flex, space-between, center);
    width: 100%;
    top: 0;
    z-index: 99;

    .logo{
        img{
            display: flex;
        }
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between!important;
        &__nav{
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 500px!important;
    
            &__item{
                margin: 15px;
                &__link{
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 18px;
                    color: #36536B;
                    opacity: 0.7;
    
                    &:hover{
                        color: #3077b1;
                        opacity: 1;
                    }
                    &:active{
                        color:#36536B;
                    }
                }
            }
        }
    
        &__demo{
            text-decoration: none;
            background: #BA4270;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            padding: 10px 15px;
    
            &:hover{
                color:#e6e8ec;
                background: #BA4270;
            }
            &:active{
                background: #DA6D97;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                color:#FBFCFE;
            }
        }
    }
}

@media only screen and (max-width: 520px){
    header{
        width:100%;
        height:64px;
        padding-top:15px;
        padding: 15px;;
        .toggle{
            position: relative;
            width: 25px;
            height: 20px;
            z-index: 150;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            &::after, &::before, &>span{
                content: "";
                width:100%;
                height: 3px;
                background: rgb(202, 199, 199);
                z-index: 170;
            }

            &--active{
                &::after, &::before{
                    position: absolute;
                    background: white;
                }

                &::after{
                    top:50%;
                    transform: translateY(-50%)rotate(45deg);
                }

                &>span{
                    opacity: 0;
                }

                &::before{
                    bottom:50%;
                    transform: translateY(50%)rotate(-45deg);
                }
            }
        }

       .navbar{
            flex-direction: column;
            background-color: #1B262F;
            align-items: center;
            justify-content: center;
            position: absolute;
            width:80%;
            right: 0;
            top: 0;
            z-index: 100;
            visibility: hidden;
            opacity: 0;
           &__nav{
            //    padding: 0;
               flex-direction: column;
               &__item{
                   &__link{
                        color: #FBFCFE;
                   }
               }
           }
           &__demo{
               margin:20px 0;
           }
       }

       .toggle{
        &--active {
            visibility: visible;
            opacity: 1;
        }
       }
    }
}