.implement{
    position: relative;
    width: 40%;
    margin-left:45%;
    padding: 80px 50px;
    &__title{
        font-family: DM Serif Display;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;

    }
    &__desc{
        font-family: Public Sans;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;

    }

    &::before{
        content: "";
        width: 100%;
        height: 350px;
        background: url(../img/code.png)no-repeat;
        background-size: contain;
        position: absolute;
        right: 400px;
        top:30px;
        
    }
}

@media only screen and (max-width: 930px){
    .implement{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin: 0;
        padding: 0;
        margin-top: 70vh;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 350px;
            background: url(../img/code.png)no-repeat;
            position: absolute;
            left:120px;
            top:-350px;
            
        }

        &__desc{
            width: 500px;
    
        }
    } 
}

@media only screen and (max-width: 520px){
    .implement{
        width: 100%;
        &__title{
            font-size: 36px;
            line-height: 36px;
            text-align: center;
        }
        &__desc{
            font-size: 15px;
            line-height: 28px;
            text-align: center;
        }

        &::before{
            top:-350px;
            left: -15px;
        }
    }
}
