.products{
    display: flex;
    position: relative;
    margin-top: 200px;
    margin-bottom: 50px;
    justify-content: space-between;
    &__block{
        display: flex;
        // position: relative;
        text-decoration: none;
        width:30%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__title{
            margin:0;
            padding: 0;
            font-family: Public Sans;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.138462px;
            color: #36536B;
            &::after{
                content: "";
                position: absolute;
                width: 70px;
                height:70px;
                background: url(../img/card3.svg)no-repeat;
                background-size: 100% 100%;
                background-position: top 0 left 0;
                bottom:120%;
                left:80%;
            }
        }
        &__desc{
            font-family: Public Sans;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #6C8294;
        }
    }

    &::after{
        content: "";
        position: absolute;
        width: 70px;
        height:70px;
        background: url(../img/card1.svg)no-repeat;
        background-size: 100% 100%;
        background-position: top 0 left 0;
        bottom:120%;
        left:130px;
    }

    &::before{
        content: "";
        position: absolute;
        width: 70px;
        height:70px;
        background: url(../img/card2.svg)no-repeat;
        background-size: 100% 100%;
        background-position: top 0 left 0;
        bottom:120%;
        left:47%;
    }
}

.start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &__title{
        width:50%;
        font-family: DM Serif Display;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }

    &__form{
        position:relative;
        &__input{
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            width: 400px;
            height: 41px;
            padding: 10px 15px;
            border:none;
        }

        &__button{
            position: absolute;
            top:2px;
            right:0;
            text-decoration: none;
            background: #BA4270;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            padding: 10px 15px;
            border:none;
            &:hover{
                color:#e6e8ec;
                background: #BA4270;
            }
            &:active{
                background: #DA6D97;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                color:#FBFCFE;
            }
        }
    }
}

@media only screen and (max-width: 798px){
    .products{
        margin: 0;
        margin-top:60px;
        &__block{
            padding: 0;
            margin: 0;
        }
    }

    .start{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom:50px;
    }
}

@media only screen and (max-width: 520px){
    .products{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__block{
            width: 100%;
            padding: 50px 0;
            &__title{
                &::after{
                    top:420px;
                    left:180px;
                }
            }
        }

        &::after{
            top:-50px;
            left:180px;
        }

        &::before{
            top:190px;
            left:180px;
        }
    }
    .start{
        &__title{
            font-size: 32px;
            line-height: 36px;
            text-align: center;
        }
    }
}