.simple{
    position: relative;
    width: 100%;
    &__block{
        width:40%;
        margin-right:52%;
        margin-top:50px;
        margin-bottom:50px;
        padding: 100px 0;
        &__title{
            font-family: DM Serif Display;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
            color: #36536B;
        }
        &__desc{
            font-family: Public Sans;
            font-size: 15px;
            line-height: 28px;
            color: #6C8294;
        }
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 500px;
            background: url(../img/tell2.png)no-repeat;
            background-size: contain;
            background-position: top 20px right 260px;
            top:-50px;
            // left:800px;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 500px;
        background: url(../img/bit.png)no-repeat;
        background-size: contain;
        background-position: top 0 right -80px;
        top:-50px;
        // left:800px;
    }

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 500px;
        background: url(../img/tell3.png)no-repeat;
        background-size: contain;
        background-position: top 20px right 0;
        top:-50px;
        right: 0;
        z-index: 1;
    }

}

@media only screen and (max-width: 930px){
    .simple{
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-top: 60vh;

        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:100%;
            align-items: center;
            padding-bottom: 0;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 500px;
                background: url(../img/tell2.png)no-repeat;
                background-size:contain;
                background-position: top 0 right 340px;
                top:0
            }
        }
        &::after{
            opacity: 0;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 500px;
            background: url(../img/tell3.png)no-repeat;
            background-size: contain;
            background-position: top 0 right 50px;
            top:0;
            right: 0;
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 520px){
    .simple{
        width: 100%;
        &__block{
            width: 100%;
            &__title{
                font-size: 36px;
                line-height: 36px;
                text-align: center;
            }
            &__desc{
                font-size: 15px;
                line-height: 28px;
                text-align: center;
            }

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 500px;
                background: url(../img/tell2.png)no-repeat;
                background-size:contain;
                background-position: top 0 left 0;
                top:0
            }
        }

        &::before{
            top:0;
            left: 100px;
        }
    }
}