.work{
    display: flex;
    background-color: #1B262F;
    &__block{
        width: 45%;
        margin: 30px 0;

        &__title{
            font-family: DM Serif Display;
            font-weight: normal;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -0.369231px;
            color: #FBFCFE;
        }

        &__desc{
            font-family: Public Sans;
            font-size: 15px;
            line-height: 28px;
            color: #FBFCFE;
            opacity: 0.7;
        }

        &__link{
            text-decoration: none;
            border: 1px solid #FBFCFE;
            box-sizing: border-box;
            border-radius: 24px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            padding: 5px 15px;
            img{
                display: flex;
            }
            &:hover{
                color: #cfd1d4;
                background-color: #323f49; 
            }
            &:active{
                color: #1B262F;
                background: #FFFFFF;
            }
        }
    }

    &__blocks{
        width:45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        margin-top: 113px;
        margin-bottom: 58px;
        margin-left: auto;
        &__line{
            padding-right: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__link{
                padding: 0 15px;
            }
        }
        .line2{
            padding-right: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 930px){
    .work{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        &__block{
            width: 80%;
            margin: 30px 0;
            &__line{
                margin-top: 220px;
            }
    
            &__title{
                
                font-size: 40px;
                line-height: 50px;
                text-align: center;
            }
    
            &__desc{
                font-size: 15px;
                line-height: 28px
            }
    
            &__link{
                width:fit-content;
                display: flex;
                justify-content: center;
                margin-left: 40%;
            }
        }
    
        &__blocks{
            width:80%;
            &__line{
                margin:20px
            }
        }
    }
}

@media only screen and (max-width: 520px){
    .work{
        flex-direction: column-reverse;
        width: 100;
        right: 0;
        &__block{
            width:100%;
        }
        &__blocks{
            width: 100%;
            margin: 0;
            margin-left:px;
            padding:0;
        }
    }
}